@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$primary-colour: #0041AA;
$neutral-10: #F5F7FC;
$neutral-50: #D4DFF1;
$neutral-80: #88919F;
$neutral-90: #666D77;
$neutral-100: #44484F;
$dark-grey: #060C3C;
$black-shade: #000D22;

html, body {
  font-family: "droid-sans", sans-serif;
}

p, h5, h6 {margin: 0;}

h3 {
  font-size: 1.375rem; //h5 size
  font-weight: 700;
  
  @media (min-width: 992px) {
    font-size: 2.125rem;
  }
}

header, section {
  overflow-x: hidden;
}

header {
  // height: 100px;
  background: linear-gradient(111.49deg, rgba(255, 255, 255, 0.4) -8.95%, rgba(212, 223, 241, 0.1) 114%);
  backdrop-filter: blur(50px);
}

.brand-name {
  font-size: 1rem;
  font-weight: 700;
  font-style: bold;
  line-height: 125%;

  @media (min-width: 992px) {
    font-size: 1.375rem;
  }
}

.navbar-toggler {
  border: none;
  transition: border 300ms;

  &:focus {
    box-shadow: none;
    border: 2px solid $dark-grey;
  }
}

ul {

  padding: 0;
  margin: 0 auto;
  row-gap: 30px;

  li {
    list-style: none;

    &:nth-child(2) {
      margin: 0;
      
      @media (min-width: 992px) {
        margin: 0 56px;
      }
    }

    a.nav-link {
      color: $dark-grey;
      font-size: 1.125rem;
      line-height: 125%;

      &:hover, &:focus {
        color: $dark-grey;
        opacity: .8;
      }
    }
  }
}

.btn-cta {
  max-width: max-content;
  background-color: $primary-colour;
  padding: 10px 30px;
  color: white;
  font-family: "droid-sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 125%;

  &:hover, &:focus {
    background-color: $primary-colour;
    color: white;
    opacity: .8;
  }
  
  @media (min-width: 992px) {
    max-width: max-content;
    font-size: 1rem;
  }
}

#hero {
  height: auto;
  background-color: white;
  background-image: none;

  h1 { 

    color: $dark-grey;
    font-size: 2rem;
    font-weight: 700;
    line-height: 140%;
    margin-top: 40px;
    
      @media (min-width: 992px) {
      font-size: 3.3125rem;
      line-height: 66px;
      margin-top: 0;
    }
  }
  
  p {
    color: $dark-grey;
    font-size: 1.125rem;
    line-height: 160%;
    margin-top: 24px;
    
    @media (min-width: 992px) {
      font-size: 1.375rem;
      line-height: 37px;
      margin-top: 0;
    }
    
  }

  @media (min-width: 992px) {
    height: 100vh;
    background-image: url(../assets/imgs/hero-bg-desktop.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 70%;
  }

  .hero-cta > * {
    width: max-content;
  }

  [alt="play-btn"] {
    width: 72px;
    height: 72px;
  }

  .see-action {

    span {
      width: max-content;
    }
  }
  
  .hero-stats {
    width: max-content;

    span {
      line-height: 125%;

      &:nth-child(1) {
        color: $neutral-90;
        font-size: 1.375rem;
        font-weight: 700;
        letter-spacing: 0.05em;
      }

      &:nth-child(2) {
        color: $neutral-80;
        font-family: "Calibri", sans-serif;
        font-size: 0.875rem;

        @media (min-width: 992px) {
          &:nth-child(1) {
            font-size: 2.125rem;
            letter-spacing: 0.05em;
          }
          &:nth-child(2) {
            font-size: 1rem;
          }
        }
      }
    }
  }

  .col-lg-5 {
    min-height: 55vh;
    background-image: url(../assets/imgs/hero-bg-mobile.png);
    background-repeat: no-repeat;
    background-position: 50% 20%;
    
    @media (min-width: 992px) {
      background-image: none;
    }
  }
}

.intro {
  font-weight: 700;
  
  div {
    color: $primary-colour;
    
    span {
      background-color: $neutral-10;
      width: max-content;
      font-size: 0.875rem;
      font-family: "Calibri", sans-serif;
      
      @media (min-width: 992px) {
        font-size: 1.625rem;
      }
    }
  }
  
  h1 {
    font-weight: 700;
    color: $dark-grey;
    font-size: 1.6875rem;
    line-height: 150%;
    
    @media (min-width: 992px) {
      font-size: 2.6875rem;
    }
  }
}

#what-we-offer {
  
  .service {
    line-height: 155%;
    color: $black-shade;
    
    .service-card-header {
      font-size: 1.125rem;
      font-weight: 700;
      
      @media (min-width: 992px) {
        font-size: 1.375rem;
      }
    }
    
    .service-card-text {
      font-family: "Calibri", sans-serif;
      font-size: 1rem;

      @media (min-width: 992px) {
        font-size: 1.125rem;
      }
    }

    .service-image .d-flex {
      width: 90%;
      height: fit-content;
      padding: 60px 60px;
      background-color: $neutral-10;
      @media (min-width: 1200px) {
        padding: 73px 90px;
      }
    }
  }
}

#who-and-who-benefits {
  background-image: none;

  @media (min-width: 992px) {
    background-image: url(../assets/imgs/other-hair.png);
    background-repeat: no-repeat;
  }

  .services-rendered-to-people {
    color: $dark-grey;
    
    h3 {
      line-height: 125%;
      font-weight: 700;
    }

    p {
      font-size: 1rem;

      @media (min-width: 992px) {
        font-size: 1.125rem;
      }
    }
  }

  .learn-more {
    color: $black-shade;
    font-family: "Calibri", sans-serif;
    font-size: 1rem;
    line-height: 125%;
    
    @media (min-width: 992px) {
      font-size: 1.125rem;
    }
    
    span {
      color: $primary-colour;
      font-family: "droid-sans", sans-serif;
      font-size: 0.875rem;
      font-weight: 700;
      
      @media (min-width: 992px) {
        font-size: 1rem;
      }
    }
  }

  .learn-more:is(.d-lg-none) div:has(span) {
    margin-top: 8px;
  }

  .its-img .d-flex {
    width: 85%;
    
    @media (min-width: 768px) and (max-width: 992px) {
      width: 75%;
    }
  }

  .btn-cta {
    @media (min-width: 768px) and (max-width: 992px) {
      min-width: 365px;
    }
  }
}

#testimonials {
  overflow-y: hidden;
  background-color: $neutral-10;
  color: $black-shade;

  &::before, &::after {
    position: absolute;
    content: "";
    background-color: $primary-colour;
    opacity: 0.1;
    width: 320px;
    height: 160px;
    border-radius: 320px;
    filter: blur(100px);
    pointer-events: none;
    
    @media (min-width: 992px) {
      width: 720px;
      height: 360px;
      border-radius: 720px;
    }
  }

  &::before {
    top: 0%;
    left: -10%;
    transform: rotate(145deg);
  }
  
  &::after {
    right: 10%;
    bottom: -15%;
  }

  .testimonial-cards {
    background-color: white;
    font-size: 0.875rem;
    font-family: "Calibri", sans-serif;
    line-height: 170%;
    border-radius: 8px;
    border-right: 0.5px solid $neutral-50;
    border-bottom: 0.5px solid $neutral-50;
    border-left: 0.5px solid $neutral-50;
    box-shadow: 0px 4px 6px -2px rgba(41, 76, 171, 0.05), 0px 12px 24px -4px rgba(41, 76, 171, 0.05);
    
    @media (min-width: 992px) {
      font-size: 1.125rem;
      font-family: "droid-sans", sans-serif;
      max-width: 500px;
      margin: 0 !important;
    }

    .name {color: $neutral-100;}
    .detail {font-weight: 700;}

    &:nth-child(1) {
      max-width: 80%;
      
      &::before {
        content: "\“";
        position: absolute;
        top: -7%;
        left: -7%;
        color: $neutral-50;
        font-size: 2rem;
        font-weight: 700;
        line-height: 125%;
        text-align: center;
        
        @media (min-width: 992px) {
          top: -20%;
          left: -10%;
          font-size: 5.5rem;
        }
      }

      @media (min-width: 992px) {
        max-width: 500px;
      }
    }
  }
  
  .card-slide-btn {

    :is(img, .circle) {
      cursor: pointer;
    }

    img {
      width: 16px;
      height: 16px;
      
      @media (min-width: 992px) {
        width: 32px;
        height: 32px;
      }
    }
    
    .circle {
      width: 6px;
      height: 6px;
      background-color: $neutral-50;
      
      &:nth-child(1) {
        background-color: $primary-colour;
      }
      
      @media (min-width: 992px) {
        width: 8px;
        height: 8px;
      }
    }
  }
}

#faqs {
  background: url(../assets/imgs/faq-bg-mobile.svg) no-repeat;
  background-position: 100% 100%;
  
  @media (min-width: 992px) {
    background: url(../assets/imgs/faq-bg-desktop.svg) no-repeat;
    background-position: right bottom;
  }

  span {
    color: $primary-colour;
    font-size: 0.875rem;
    font-weight: 700;
    
    @media (min-width: 992px) {
      font-size: 1rem;
    }
  }

  .accordion {
    border: none;
    background: url(../assets/imgs/ornament-mobile.svg) no-repeat center;
    
    @media (min-width: 992px) {
      background: url(../assets/imgs/ornament-desktop.svg) no-repeat;
      background-position: 10% 50%;
    }

    .accordion-item {
      border: none;

      .accordion-button {
        flex-direction: row-reverse;
        justify-content: start;
        gap: 12px;
        font-size: 1.25rem;

        @media (min-width: 992px) {
          gap: 16px;
        }

        &:focus {
          border: none;
        }

        &::after {
          margin: 0;
        }
  
        &:not(.collapsed) {
          background-color: $neutral-10;
  
          &::after {
            transform: rotate(-90deg);
          }
        }
      }
  
      .accordion-body {
      border-radius: 12px;
      border: 1px solid #D4DFF1;
      margin: 12px 0;
      padding: 16px;
      
        @media (min-width: 992px) {
          margin: 16px 0;
          padding: 32px;
        }
      }
    }

  }
  
  .part-b {
    
    span {
      color: $dark-grey;
      font-family: "Calibri", sans-serif; 
      font-size: 1rem; 
    }

    @media (min-width: 992px) {
      font-family: "droid-sans", sans-serif;
      font-size: 1.375rem;
    }
  }
  
}

footer {
  background-color: $primary-colour;

  h5 {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 125%;
  }

  p {
    font-size: 1.125rem;
    line-height: 160%;
  }

  .connect {
    span {
      font-size: 1rem;
      line-height: 22px;
    }
  }

  h6 {
    color: $neutral-10;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 125%;
  }

  .list span {
    font-family: "Calibri", sans-serif;
    font-size: 1rem;
    line-height: 26px;
  }

  #bottom-footer {
    color: $neutral-50;
  }
}